@charset "utf-8";

/* 카드뉴스 */
.card-news {
	
}
.card-news .inner {
  position:relative;
	height: 402px;
	margin-top:60px;
	margin-bottom: 85px;

}
/* .cn-card-news .image {
  display: flex;
} */
.card-news .btns {
	position: absolute;
z-index: 5;

}

.card-news .cn-prev-bt {
	position: absolute;
	width: 54px;
	height: 54px;
border: none;
border-radius: 50%;
opacity: 85%;
top: 192px;
left: -57px;
cursor: pointer;
transform: translate( 50% , -50% );
box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.23);
}
.card-news .cn-next-bt {
	position: absolute;
	width: 54px;
	height: 54px;
border: none;
	border-radius: 50%;
	border-radius: 50%;
	opacity: 85%;
	top: 193px;
right: -1259px;
cursor: pointer;
transform: translate(-50% , -50%);
box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.23);
}
.cn-card-news-wrap {
  display: flex;
	height: 400px;
  border-radius: 8.5px 8.5px 8.5px 8.5px;
  overflow: hidden;
	border-radius: 29px;
  box-shadow:0px 8px 18px 0px rgba(91 , 91 , 91 , 0.14 ); 
}
.cn-card-news-left {
  width: 55%;
}
.cn-card-news-left .image {
  display: block;
  width: 100%;
	object-fit: cover;
}
.cn-card-news-left .image img {
  width: 100%;
	height: 400px;
}
.cn-card-news-right {
  width: 45%;
}
.cn-card-news-right .image-info {
  display: block;
  width: 100%;
}
.cn-card-news-right .info {
	display: flex;
	flex-direction: column;
	margin: 45px 60px 0 55px;
	text-align: center;
}
.cn-card-news-right .info h2 {
display: -webkit-box;
	font-size: 33px;
line-height:48px;
letter-spacing: -1.3px;
text-overflow: ellipsis;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
word-break: keep-all;
text-align: start;

}

.cn-card-news-right .image-info .info span {
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	width: 465px;
	height: 75px;
	letter-spacing:-0.5px;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	word-break:keep-all;
	text-align: start;
	margin-top: 20px;
}
.card-news  .card-news-control {
	
	text-align: center;
	margin-top: 27px;
	margin-left: -74px;
}

.swiper-pagination-bullet {
	display: inline-block;
	width: 60px;
	height: 5px;
	border-radius: 5px;
}
.swiprt-pagination-bullet-active {
	display: inline-block;
	
	}


	
	@media screen and (max-width:1240px) {
		.card-news .inner {
			
			max-height: 368px;
			margin-top: 48px;
			}	
		
			.card-news .cn-prev-bt {
				position: absolute;
				width: 54px;
				height: 54px;
			border: none;
			border-radius: 50%;
			opacity: 85%;
			top: 200px;
			left: 21px;
			cursor: pointer;
			transform: translate( 50% , -50% );
			box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.23);
			}
			.card-news .cn-next-bt {
				position: absolute;
				width: 54px;
				height: 54px;
			border: none;
				border-radius: 50%;
				border-radius: 50%;
				opacity: 85%;
				top: 193px;
			right: -1178px;
			cursor: pointer;
			transform: translate(-50% , -50%);
			box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.23);
			}
			.cn-card-news-wrap {
				max-width: 1036px;
				height: 345px;
				margin-left: 80px;
			}
		


		.cn-card-news-left {
			width: 55%;
		}
		.cn-card-news-left .image {
			display: block;
			width: 100%;
			
		}
		.cn-card-news-left .image img {
			height: 100%;
			object-fit: cover;
		}
		.cn-card-news-right .info {
			display: flex;
			flex-direction: column;
			margin: 19px 0px 0px 20px;
			text-align: center;
		}
		.cn-card-news-right .info h2 {
			margin-bottom:5px;
		display: -webkit-box;
			font-size: 32.72px;
		line-height:47.61px;
		letter-spacing: -1.3px;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		word-break: keep-all;
		text-align: start;
		}

		.cn-card-news-right .image-info .info span {
			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
			width: 465px;
			height: 75px;
			letter-spacing:-0.5px;

			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			word-break:keep-all;
			text-align: start;
			margin-top: 20px;
		}
		.card-news  .card-news-control {
	
			text-align: center;
			margin-top: 27px;
			margin-left: -96px;
		}
		}
		
	
@media screen and (max-width:1024px) {
	.card-news .inner{
	max-width: 870px;
	max-height: 316px;
	margin-left:67px;
	
}
.card-news .btns {
	position: absolute;
z-index: 5;

}

.card-news .cn-prev-bt {
	position: absolute;
	width: 54px;
	height: 54px;
border: none;
border-radius: 50%;
opacity: 85%;
top: 147px;
left: -66px;
cursor: pointer;
transform: translate( 50% , -50% );
box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.23);
}
.card-news .cn-next-bt {
	position: absolute;
	width: 54px;
	height: 54px;
border: none;
	border-radius: 50%;
	border-radius: 50%;
	opacity: 85%;
	top: 139px;
right: -919px;
cursor: pointer;
transform: translate(-50% , -50%);
box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.23);
z-index: 99;
}
.cn-card-news-wrap {
	width: 869px;
	height: 290px;
	margin-left: -8px;
}

.cn-card-news-left .image img {
height: 100%;
object-fit: cover;
}
.cn-card-news-right .info {
	display: flex;
	flex-direction: column;
	
	text-align: center;
}
.cn-card-news-right .info h2 {
	margin-bottom:-5px;
display: -webkit-box;
	font-size: 32.12px;
line-height:46.9px;

letter-spacing: -1.3px;
text-overflow: ellipsis;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
overflow: hidden;
word-break: keep-all;
text-align: start;
}


.card-news  .card-news-control {
	
	text-align: center;
	margin-top: 27px;
	margin-left: -125px;
}
}

	@media screen and (max-width:749px) {
	.card-news .inner{
	max-width: 731px;
	max-height: 914px;
	margin-bottom: 638px;
	margin-left:45px;
}

.card-news .btns {
display: none;
}
.cn-card-news-wrap {
  display: flex;
flex-direction: column;
width: 660px;
	height: 914px;
  border-radius: 8.5px 8.5px 8.5px 8.5px;
  overflow: hidden;
	border-radius: 29px;
  box-shadow:0px 8px 18px 0px rgba(91 , 91 , 91 , 0.14 ); 
	
}
.cn-card-news-left {
  width: 100%;
}

.cn-card-news-left .image img {
  width: 100%;
	height: 400px;
}
.cn-card-news-right {
  width: 100%;
	margin-left: -6px;
}
.cn-card-news-right .image-info {
  display: block;
  width: 100%;
}
.cn-card-news-right .info {
	display: flex;
	width: 100%;
	flex-direction: column;
	margin: 45px 60px 0 55px;
	
}
.cn-card-news-right .info h2 {
display: -webkit-box;
	font-size: 40px;
line-height:65px;
letter-spacing: -1.3px;
text-overflow: ellipsis;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
word-break: keep-all;


}

.cn-card-news-right .image-info .info span {
	font-size: 28px;
	font-weight: 400;
	line-height: 44px;
	width: 100%;
	height: 100%;
	letter-spacing:-0.5px;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	word-break:keep-all;
	text-align: start;
	margin-top: 33px;
}
	}


@media screen and (max-width:500px) {
	.card-news .inner {
		width: 435px;
		height: 615px;
		margin-bottom: 100px;
		margin-left: 163px;
	}

	.card-news .btns {
	display: none;
	
	}
	.cn-card-news-wrap {
		display: flex;
		width: 100%;
		height: 100%;
		border-radius: 8.5px 8.5px 8.5px 8.5px;
		overflow: hidden;
		border-radius: 29px;
		box-shadow:0px 8px 18px 0px rgba(91 , 91 , 91 , 0.14 ); 
	}
	
	.cn-card-news-left .image {
		display: block;
		width: 100%;
		height: 280px;
		object-fit: cover;
	}
	.cn-card-news-left .image img {
		width: 100%;
		height:100%;
		object-fit: cover;
	}
	.cn-card-news-right {
		width: 100%;
		
	}
	.cn-card-news-right .image-info {
		display: block;
		width: 100%;
		
	}
	.cn-card-news-right .info {
		display: flex;
		flex-direction: column;
		margin: 34px 60px 0px 40px;
		text-align: center;
	}
	.cn-card-news-right .info h2 {
	display: -webkit-box;
		font-size: 30px;
	line-height:40px;
	letter-spacing: -1.3px;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-break: keep-all;
	text-align: start;
	
	}
	
	.cn-card-news-right .image-info .info span {
		font-size: 18px;
		font-weight: 400;
		line-height: 28px;
		width: 100%;
	height: 100%;
		letter-spacing:-0.5px;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		word-break:keep-all;
		text-align: start;
		margin-top: 20px;
	}
	.card-news  .card-news-control {
		
		text-align: center;
		margin-top: 27px;
		margin-left: -74px;
	}
	
	.swiper-pagination-bullet {
		display: inline-block;
		width: 60px;
		height: 5px;
		border-radius: 5px;
	}
	.swiprt-pagination-bullet-active {
		display: inline-block;
		
		}

	}
