@charset "utf-8";

/* 하단 */
.footer {
  background: rgb(29, 29, 29);
}
.footer .inner {
  display: flex;
  justify-content: space-between;
  height: 270px;
  padding: 52px 84px;
  margin: 0px 0px;
}
.footer .left {
  padding-top: 6px;
}
.footer .left .high {
  display: flex;
  justify-content: space-between;
}
.footer .left .high .logo {
  margin-right: 82px;
}
.footer .left .high .logo img {
}
.footer .left .high .privacy {
  font-size: 0;
  display: flex;
}

.footer .left .high .privacy p {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.footer .left .high .privacy p:nth-child(2) {
  margin: 0px 52px 0px 54px;
}
.footer .left .info {
  padding: 62px 0px 0px 0px;
}
.footer .left .info p {
  color: #8e8e8e;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.footer .right {
}
.footer .right .sns-link {
  display: flex;
  justify-content: space-between;
  /* margin: 0px 11px 0px 0px; */
}
.footer .right .sns-link .li {
  position: relative;
  margin-right: 12px;
}
.footer .right .sns-link .li a {
}
/* li에 a가 하나밖에 없기때문에 안먹음 */
.footer .right .sns-link > li:last-child {
  margin-right: 0px;
}
.footer .right .sns-link li p {
  display: none;
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  padding: 6px 6px;
  top: -51px;
  left: -6px;
  white-space: nowrap;
  color: #fff;
  border-radius: 5px;
  background: rgb(46, 46, 46);
  /* transform: translate(-34%, 67%); */
  transform: translate(-22%, 67%);
}

.footer .right .sns-link .li:hover:nth-child(1) > p {
  /* margin-right: 0px;    */
  display: block;
  left: -25px;
}
.footer .right .sns-link .li:hover:nth-child(2) > p {
  display: block;
  left: 2px;
}
.footer .right .sns-link .li:hover:nth-child(3) > p {
  display: block;
  left: 4px;
}
.footer .right .sns-link .li:hover:nth-child(4) > p {
  display: block;
  left: 0px;
}
.footer .right .sns-link .li:hover:nth-child(5) > p {
  display: block;
  left: 2px;
}
.footer .right .sns-link-ban {
  visibility: hidden;
}
@media screen and (max-width: 1024px) {
  .footer .inner {
    display: flex;
    height: 35.8vw;
    flex-direction: column;
    margin: 0vw 0vw;
    padding: 4.9vw 4.9vw;
  }
  .footer .left .high {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer .logo {
    display: inline-block;
    width: 22.3vw;
    height: 2vw;
    margin-bottom: 3.1vw;
  }
  .footer .logo > img {
    width: 100%;
  }
  .footer .left .high .privacy {
    margin-bottom: 3.8vw;
  }
  .footer .left .high .privacy p {
    font-size: 1.7vw;
  }
  .footer .left .info {
    padding: 0vw;
  }
  .footer .left .info p {
    font-size: 1.6vw;
    line-height: 2.4vw;
    letter-spacing: -0.05vw;
  }

  .footer .right .sns-link {
    visibility: hidden;
  }
  .footer .right .sns-link img {
    visibility: hidden;
  }

  .footer .right .sns-link > li {
    margin-right: 1.8vw;
  }

  .footer .right .sns-link-ban {
    visibility: visible;
  }
  .footer .right .sns-link-ban > li {
    margin-right: 1.8vw;
  }
  .footer .right .sns-link-ban > li > a {
    display: inline-block;
    width: 4.2vw;
    height: 4.2vw;
  }
  .footer .right .sns-link-ban > li > a > img {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .footer .inner {
    height: 67.2vw;
    padding: 8vw;
    margin: 0vw;
  }
  .footer .left .high .logo {
    width: 40.8vw;
    height: 3.5vw;
    margin-top: 3.1vw;
    margin-bottom: 5.6vw;
    /* margin-bottom: 0.0vw; */
  }
  .footer .left .high .logo img {
    width: 100%;
  }
  .footer .left .high .privacy p {
    font-size: 3.1vw;
  }

  .footer .left .high .privacy > li:nth-child(2) > p {
    margin: 0vw 1.3vw;
  }

  .footer .left .info p {
    font-size: 2.8vw;
    line-height: 4.8vw;
    letter-spacing: -0.11vw;
  }
  .footer .right {
    margin-top: 0;
  }
  .footer .right .sns-link-ban {
    visibility: visible;
    margin-top: 0;
  }
  .footer .right .sns-link-ban > li > a {
    width: 7.5vw;
    height: 7.5vw;
    margin-right: 1.3vw;
  }
  .footer .right .sns-link-ban > li > a > img {
    width: 100%;
  }
}
