@charset "utf-8";

/* 하단 */
.footer {
  background: rgb(29, 29, 29);
}
.footer .inner {
  display: flex;
  justify-content: space-between;
  height: 270px;
  padding: 52px 0px;
  /* margin: 0px 0px; */
}
.footer .left {
  padding-top: 6px;
}
.footer .left .high {
  display: flex;
  justify-content: space-between;
}
.footer .left .high .logo {
  margin-right: 82px;
}
.footer .left .high .logo img {
}
.footer .left .high .privacy {
  font-size: 0;
  display: flex;
}

.footer .left .high .privacy p {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.footer .left .high .privacy p:nth-child(2) {
  margin: 0px 52px 0px 54px;
}
.footer .left .info {
  padding: 62px 0px 0px 0px;
}
.footer .left .info p {
  color: #8e8e8e;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
.footer .right {
}
.footer .right .sns-link {
  display: flex;
  justify-content: space-between;
  /* margin: 0px 11px 0px 0px; */
}
.footer .right .sns-link li {
  position: relative;
  margin-right: 12px;
}
.footer .right .sns-link li a {
}
/* li에 a가 하나밖에 없기때문에 안먹음 */
.footer .right .sns-link > li:last-child {
  margin-right: 0px;
}
.footer .right .sns-link li p {
  display: none;
  position: absolute;
  font-size: 11px;
  font-weight: 500;
  padding: 6px 6px;
  top: -51px;
  left: -6px;
  white-space: nowrap;
  color: #fff;
  border-radius: 5px;
  background: rgb(46, 46, 46);
  /* transform: translate(-34%, 67%); */
  transform: translate(-22%, 67%);
}

.footer .right .sns-link li:hover:nth-child(1) > p {
  /* margin-right: 0px;    */
  display: block;
  left: -25px;
}
.footer .right .sns-link li:hover:nth-child(2) > p {
  display: block;
  left: 2px;
}
.footer .right .sns-link li:hover:nth-child(3) > p {
  display: block;
  left: 4px;
}
.footer .right .sns-link li:hover:nth-child(4) > p {
  display: block;
  left: 0px;
}
.footer .right .sns-link li:hover:nth-child(5) > p {
  display: block;
  left: 2px;
}
