@charset "utf-8";

/* 상단 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px; /* 95px 280px */
  border-bottom: 1px solid rgb(228, 228, 228);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.04);
  background: #fff;
  z-index: 9999999;
  transition: height 1s;
}
.header-active {
  height: 280px;
  overflow: hidden;
}
.header .inner {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 24px 114px 24px 52px;
  justify-content: space-between;
  align-items: start;
  transition: all 0.8s;
}
.header .logo {
  width: 161px;
  height: 48px;
  z-index: 99999;
}
.header .logo .noneA {
  display: none;
}
.gnb {
  width: 720px;
  margin-left: 100px;
}
.main-menu {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}
.main-menu > li {
  margin: 0 10px;
  transition: transform ease 0.8s;
}
.main-menu > li > a {
  display: inline-block;
  font-size: 19px;
  font-weight: 600;
  padding: 12px 0;
}
.main-menu-active > li:nth-child(1) {
  transform: translate(-15px);
}
.main-menu-active > li:nth-child(2) {
  transform: translate(-15px);
}
.main-menu-active > li:nth-child(3) {
  transform: translate(-5px);
}
.main-menu-active > li:nth-child(4) {
  transform: translate(15px);
}
.main-menu-active > li:nth-child(5) {
  transform: translate(15px);
}
.submenu {
  position: absolute;
  top: 35px;
  left: 0px;
  display: none;
  padding: 33px 0;
}
.submenu-active {
  display: block;
}
.submenu li {
}
.submenu li a {
  font-size: 16px;
  line-height: 37px;
}
.submenu li:hover a {
  font-weight: 600;
}
.side-menu {
  display: flex;
  position: relative;
  width: 252px;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  transition: all 0.8s;
}
.side-menu-left {
  position: relative;
  width: 106px;
  height: 34px;
  background: rgb(38, 48, 112);
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.6s;
}
.side-menu-left-active {
  background: rgb(34, 40, 207);
}
.subscribe-btn {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  width: 100%;
  transition: top 0.6s;
}
.subscribe-btn-active {
  top: -25px;
}
.subscribe-btn span:first-child {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
  color: #fff;
  text-align: center;
}
.subscribe-btn span:last-child {
  color: #fff;
  font-size: 15px;
}
.side-menu-mid {
  display: flex;
  margin-left: 20px;
}
.side-menu-mid a {
  margin-left: 3px;
}
.side-menu-mid a:hover {
  opacity: 60%;
}
.side-menu-mid .newsroom-hide {
  display: none;
}
.search-area {
  display: flex;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 207px;
  background: #fff;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  padding: 21px 0;
  border-bottom: 1px solid rgb(228, 228, 228);
  box-shadow: none;
  transition: all 0.8s;
}
.search-area-active {
  top: 0;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.05);
}
.search-box {
  display: flex;
  width: 640px;
  height: 54px;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 30px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  justify-content: space-between;
  padding: 5px 6px 6px 36px;
  background: rgb(252, 252, 252);
}
.search-box input {
  border: none;
  font-family: "Pretendard", "sans-serif";
  font-size: 22px;
}
.search-box input::placeholder {
  color: rgb(191, 191, 197);
}
.search-box > button {
  font-family: "Pretendard", "sans-serif";
  width: 96px;
  height: 42px;
  font-size: 18px;
  font-weight: 600;
  line-height: 42px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 21px;
  cursor: pointer;
}
.search-index-area {
  display: flex;
}
.search-cate {
  display: flex;
  align-items: center;
}
.search-cate > li {
  margin-right: 14px;
}
.search-cate > li:last-child {
  margin-right: 0;
}
.search-cate > li > span {
  display: inline-block;
  padding: 6px 10px;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 15px;
  color: rgb(141, 141, 141);
  cursor: pointer;
}
.search-cate > li:first-child > span {
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: rgb(29, 29, 29);
  padding: 6px 10px 6px 0;
}
.search-cate > li:nth-child(2) > span {
  border: 1px solid rgb(29, 29, 29);
  color: rgb(29, 29, 29);
}
.search-cate > li:hover {
  background: rgb(251, 251, 251);
}
.cate-left {
  margin-right: 58px;
}
.header-btn {
  position: absolute;
  top: 27px;
  right: 55px;
  z-index: 999999;
}
.header-btn > button:nth-child(1) {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.09);
}
.header-btn > button:nth-child(2) {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.09);
}
.header-btn > button:nth-child(1):hover {
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}
.header-btn > button:nth-child(2):hover {
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}
.header-btn .search-btn {
  /* display: none; */
}
.header-btn .search-close-btn {
  display: none;
  font-family: "Pretendard", "sans-serif";
  font-size: 0;
}
.menu-btn {
  display: block;
  border: none;
}
.menu-btn span {
  transition: all 0.5s;
}
.menu-btn span:first-child {
  transform: rotate(0) translate(0, 0);
}
.menu-btn span:last-child {
  transform: rotate(0) translate(0, 0);
}
.menu-btn-active span {
  transition: all 0.5s;
}
.menu-btn-active span:first-child {
  transform: rotate(45deg) translate(0.5vw, 0.6vw);
}
.menu-btn-active span:last-child {
  transform: rotate(-45deg) translate(0.5vw, -0.6vw);
}
.m-gnb-area {
  display: none;
}

@media screen and (max-width: 1510px) {
  .side-menu-left {
    width: 88px;
    height: 28px;
  }
  .side-menu {
    justify-content: start;
    padding: 9px 0;
  }
  .subscribe-btn span:first-child {
    font-size: 11px;
    font-weight: 500;
    line-height: 30px;
  }
  .side-menu-mid {
    margin-left: 0;
  }
  .side-menu-mid a {
    margin-left: 8px;
  }
  .main-menu {
    display: flex;
    justify-content: space-around;
    padding: 0 40px 0 70px;
  }
  .header-btn {
    right: 55px;
  }
}

@media screen and (max-width: 1420px) {
  .side-menu {
    justify-content: end;
  }
  .side-menu-left {
    display: none;
  }
  .side-menu-mid .newsroom-hide {
    display: block;
  }
}

@media screen and (max-width: 1240px) {
  .header .inner {
    position: relative;
    padding: 24px 82px 24px 25px;
  }
  .header .logo {
    position: absolute;
    top: 25px;
    left: 22px;
    width: 159px;
    height: 45px;
    z-index: 999999;
  }
  .gnb {
    margin-left: 255px;
  }
  .main-menu {
    padding: 0 6px;
  }
  .side-menu-mid a:nth-child(2) {
    display: none;
  }
  .side-menu-mid a:nth-child(3) {
    display: none;
  }
  .side-menu-mid a:nth-child(4) {
    display: none;
  }
  .search-box {
    width: 505px;
  }
  .search-box > button {
    width: 74px;
  }
  .header-btn {
    right: 22px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    height: 8.4vw;
    overflow: visible;
    /* transition: none; */
  }
  .header-active {
    height: 8.4vw;
  }
  .header .inner {
    height: 8.4vw;
  }
  .header .logo {
    top: 2vw;
    width: 14.1vw;
    height: 4.1vw;
  }
  .gnb {
    display: none;
  }
  .side-menu {
    display: none;
  }
  .search-area {
    width: 100%;
    height: 100%;
    /* left: 0; */
    flex-flow: column;
    align-items: start;
    justify-content: start;
    border-bottom: none;
    padding: 2vw 2.3vw;
    z-index: 999999;
    transition: none;
  }
  .search-area-active {
    box-shadow: none;
  }
  .search-box {
    position: relative;
    width: 84vw;
    height: 4.9vw;
  }
  .search-box input {
    margin-left: 2.7vw;
    font-size: 2.1vw;
  }
  .search-box > button {
    position: absolute;
    top: calc(50% - 1.5vw);
    left: 1.5vw;
    width: 2.9vw;
    height: 2.9vw;
    font-size: 0;
    padding: 0.5vw;
    background: url("../images/header/input_icon.svg") no-repeat center;
    background-size: 2.1vw;
  }
  .search-index-area {
    flex-direction: column;
    height: 23.2vw;
  }
  .search-cate {
    display: block;
    margin-top: 4.4vw;
  }
  .cate-left {
    margin-top: 5.3vw;
  }
  .search-cate > li > span {
    font-size: 1.8vw;
    font-weight: 500;
    padding: 0.8vw 1.5vw;
    border-radius: 2.9vw;
  }
  .search-cate > li:first-child {
    margin-bottom: 2.9vw;
  }
  .search-cate > li:not(:first-child) {
    display: inline-block;
  }
  .search-cate > li:first-child > span {
    width: 100%;
    font-size: 2.3vw;
    font-weight: 500;
  }
  .header-btn {
    display: flex;
    top: 1.5vw;
    right: 2.3vw;
    align-items: center;
    z-index: 999999;
  }
  .header-btn > button img {
    width: 4.8vw;
    height: 4.8vw;
  }
  .header-btn > .search-close-btn {
    position: absolute;
    top: 1.5vw;
    right: 1.9vw;
    font-size: 2vw;
    font-weight: 600;
    color: #000;
    letter-spacing: -0.1vw;
  }
  .header-btn > button:nth-child(2) {
    box-shadow: none;
  }
  .header-btn > button:nth-child(2):hover {
    box-shadow: none;
  }
  .search-close-btn img {
    display: none;
  }
  .menu-btn {
    display: block;
    position: relative;
    width: 3.8vw;
    height: 3.8vw;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 2.5vw;
  }
  .menu-btn span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3.8vw;
    height: 0.3vw;
    background: #000;
  }
  .menu-btn span:first-child {
    top: 30%;
  }
  .menu-btn span:last-child {
    top: 70%;
  }
  .m-gnb-area-active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    padding: 108px 24px 52px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .m-menu > li {
    position: relative;
  }
  .m-menu > li::before {
    content: "";
    position: absolute;
    top: 3.2vw;
    right: 3.2vw;
    width: 2.1vw;
    height: 1.4vw;
    background: url("../images/header/menuArr.svg") no-repeat center;
    background-size: contain;
    transform: rotate(0);
    transition: all 0.5s;
  }
  .m-menu > li::after {
    content: "";
    position: absolute;
    top: 8vw;
    left: 0vw;
    width: 100%;
    height: 0.1vw;
    background: rgb(228, 228, 228);
  }
  .m-menu > .li-active::before {
    transform: rotate(180deg);
  }
  .m-menu > .li-active::after {
    background: rgb(29, 29, 29);
  }
  .m-menu > li > a {
    display: block;
    font-size: 2.9vw;
    font-weight: 600;
    padding: 2.3vw 0 2.9vw;
  }
  .m-submenu {
    height: 0px;
    overflow: hidden;
    transition: height 0.8s;
  }
  .m-submenu-active {
    /* padding: 3.2vw 3.5vw; */
    height: 19.7vw;
  }
  .m-submenu li {
    margin: 2.6vw 0 2.6vw 2.6vw;
  }
  .m-submenu li:last-child {
    margin-bottom: 0;
  }
  .m-submenu li a {
    display: block;
    font-size: 2.3vw;
    line-height: 2.3vw;
  }
  .m-submenu li:hover a {
    font-weight: 600;
  }
  .m-side-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-side-menu-left {
    width: 14.1vw;
    height: 4.5vw;
    background: rgb(38, 48, 112);
    border-radius: 2.9vw;
    cursor: pointer;
    position: relative;
  }
  .m-side-menu-left-active {
    background: rgb(34, 40, 207);
  }
  .m-subscribe-btn {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: top 0.6s;
  }
  .m-subscribe-btn-active {
    top: -3.2vw;
  }
  .m-side-menu-left span:first-child {
    display: block;
    font-size: 2vw;
    font-weight: 500;
    line-height: 4.5vw;
    color: #fff;
    text-align: center;
  }
  .m-subscribe-btn span:last-child {
    color: #fff;
    font-size: 15px;
  }
  .m-side-menu-mid {
    display: flex;
    margin-left: 2vw;
  }
  .m-side-menu-mid a {
    width: 4.4vw;
    height: 4.4vw;
    margin-left: 0.3vw;
    margin-right: 1.5vw;
  }
  .m-side-menu-mid a img {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .header {
    height: 16.8vw;
  }
  .header-active {
    width: 100vw;
    height: 16.8vw;
  }
  .header .inner {
    height: 16.8vw;
  }
  .header .logo {
    top: 4.1vw;
    left: 4.7vw;
    width: 27.7vw;
    height: 8.1vw;
  }
  .search-area {
    padding: 3.6vw 4.7vw;
  }
  .search-box {
    width: 77.3vw;
    height: 9.7vw;
    border-radius: 6.7vw;
  }
  .search-box input {
    font-size: 4.1vw;
    margin-left: 1.3vw;
  }
  .search-box button {
    top: calc(50% - 3.1vw);
    left: calc(100% - 9.3vw);
    width: 6vw;
    height: 6vw;
    background-size: 4vw;
  }
  .search-index-area {
    margin-top: 5.3vw;
  }
  .cate-left {
    margin-right: 0;
  }
  .search-cate > li > span {
    font-size: 3.3vw;
    padding: 1.2vw 2.8vw;
  }
  .search-cate > li:first-child {
    margin-bottom: 4vw;
  }
  .search-cate > li:not(:first-child) > span {
    margin-bottom: 2.7vw;
  }
  .search-cate > li:first-child > span {
    font-size: 4.8vw;
  }
  .cate-right {
    margin-top: 6vw;
  }
  .header-btn {
    top: 3.6vw;
    right: 4.8vw;
  }
  .header-btn button img {
    width: 9.6vw;
    height: 9.6vw;
  }
  .header-btn > .search-close-btn {
    top: 2.4vw;
    font-size: 3.6vw;
  }
  .menu-btn {
    width: 6.7vw;
    height: 6.7vw;
    margin-left: 4.8vw;
  }
  .menu-btn span {
    width: 100%;
    height: 0.5vw;
  }
  .menu-btn-active span {
    width: 6.7vw;
    height: 0.5vw;
  }
  .menu-btn-active span:first-child {
    transform: rotate(45deg) translate(0.45vw, 2.55vw);
  }
  .menu-btn-active span:last-child {
    transform: rotate(-45deg) translate(-0.6vw, -1.44vw);
  }
  .m-gnb-area-active {
    padding: 18.9vw 5.2vw 6.9vw;
  }
  .m-menu > li::before {
    width: 5.6vw;
    height: 4.8vw;
    top: 6.9vw;
  }
  .m-menu > li::after {
    top: 17.6vw;
  }
  .m-menu > li > a {
    font-size: 5.2vw;
    font-weight: 700;
    padding: 6.7vw 0 4.7vw;
  }
  .m-submenu-active {
    height: 20.3vw;
    margin: 3.3vw 0 2.3vw;
    overflow: auto;
  }
  .m-submenu-active::-webkit-scrollbar {
    display: none;
  }
  .m-submenu li {
    margin: 4.3vw 7.1vw 2.3vw;
  }
  .m-submenu li a {
    font-size: 4.1vw;
    line-height: 4.1vw;
  }
  .m-side-menu-left {
    width: 24.7vw;
    height: 8vw;
    border-radius: 4vw;
  }
  .m-subscribe-btn {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: top 0.6s;
  }
  .m-subscribe-btn-active {
    top: -6.2vw;
  }
  .m-side-menu-left span:first-child {
    display: block;
    font-size: 3vw;
    font-weight: 500;
    line-height: 4.5vw;
    color: #fff;
    text-align: center;
    margin: 2vw 0;
  }
  .m-subscribe-btn span:last-child {
    color: #fff;
    font-size: 3.5vw;
  }
  .m-side-menu-mid a {
    width: 8vw;
    height: 8vw;
  }
}
