@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  min-width: 320px;
  max-width: 100%;
  font-family: "Pretendard", "sans-serif";
  font-size: 1.3rem;
  line-height: 1;
  color: #1d1d1d;
  font-weight: 400;
  letter-spacing: -0.5px;
  word-break: keep-all;
}

/* 공통 클래스 */
.wrap {
}
.inner {
  width: 1400px;

  margin: 0 auto;
}
h2 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
}
