@charset "utf-8";

/* 연재 기사 */
.series-news {
}
.series-news .inner {
	position: relative;
  display: block;
  height: 536px;	
}
.series-news .content {
	padding: 60px 0px;
}
.series-news .btns {
	position: relative;
	width: 54px;
	height: 54px;
	
	border-radius: 50%;
	opacity: 85%;
	
	z-index: 9;
}

.series-news .sn-prev-bt {
	position: absolute;
 display: none;
	width: 54px;
height: 54px;
border-radius: 50%;
border: none;
	top: 155px;
	left: -59px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
	cursor: pointer;
	transform: translate(50% , 50%);
}
.series-news .sn-next-bt {
position: absolute;
width: 54px;
height: 54px;
border-radius: 54px;
top: 155px;
	right: -1206px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
	transform: translate(-50% , 50%);
border: none;
	cursor: pointer;

}
.series-news h2 {
	font-size: 34px;
	font-weight: 700;
	letter-spacing: -1.1;
}
.series-news p {
	padding-top: 29px;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}
.sn-series-news .swiper-slide {
}
.sn-series-news .image {
  position: relative;
  display: block;
  width: 100%;
  height: 364px;
	
	
}
.sn-series-news .image img {
	position: absolute;
	width: 224px;
margin-top: 0px;
  

}

@media screen and (max-width:1240px) {
	.series-news .inner {
		width: 1207px;
		height: 513px;
		margin-bottom: -12px;
	}
	
	.sn-series-news {
		position: relative;
		width: 1053px;
		height: 316px;
	}
.sn-series-news .image {
width: 1053px;
		height: 316px;
}
.sn-series-news .image img {
	position: absolute;
width: 194.6px;
height: 100%;
object-fit: cover;	

}
.series-news .sn-prev-bt {
	position: absolute;
 display: none;
	width: 54px;
height: 54px;
border-radius: 50%;
border: none;
	top: 130px;
	left: 18px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
	cursor: pointer;
	transform: translate(50% , 50%);
}
.series-news .sn-next-bt {
position: absolute;
width: 54px;
height: 54px;
border-radius: 54px;
top: 130px;
	right: -1134px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
	transform: translate(-50% , 50%);
border: none;
	cursor: pointer;

}
}

@media screen and (max-width:1200px) {
	.series-news .inner {
	width: 1183px;
	height: 563px;
	}

	.sn-series-news {
		position: relative;
		width: 1022px;
		height: 364px;
	}
	.sn-series-news .image {
width: 1022px;
		height: 364px;
}
.sn-series-news .image img {
	position: absolute;
width: 224px;
height: 100%;


}
.series-news .sn-prev-bt {
	position: absolute;
 display: none;
	width: 54px;
height: 54px;
border-radius: 50%;
border: none;
	top: 130px;
	left: 18px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
	cursor: pointer;
	transform: translate(50% , 50%);
}
.series-news .sn-next-bt {
position: absolute;
width: 54px;
height: 54px;
border-radius: 54px;
top: 130px;
	right: -1134px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
	transform: translate(-50% , 50%);
border: none;
	cursor: pointer;

}
}
@media screen and (max-width:1240px) {
	
}
@media screen and (max-width:1200px) {
	.series-news .inner {}

	.sn-series-news {
		position: relative;
	}
	/*사진4개 보이기로  */
	.series-news .sn-prev-bt {
		position:absolute;
		top:156px;
		left:24px
	}
	.series-news .sn-next-bt {
		position: absolute;
	top:157px;
	left:-1093px;
	z-index: 999999;
	}
}
