@charset "utf-8";

/* 연재 기사 */
.series-news {
}
.series-news .inner {
  position: relative;
  display: block;
  padding: 2.5% 0px 0px;
}
.series-news h2 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -1.1px;
}
.series-news p {
  padding: 30px 0px 0px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}

.series-news-slide {
  position: relative;
  display: block;
}

.series-news-slide .sn-bt {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
  cursor: pointer;
  z-index: 99;
  top: 50%;
  opacity: 85%;
}

.series-news-slide .sn-prev-bt {
  top: 41%;
  left: 0;
  transform: translate(-50%, -50%);
  background: url("../images/left_btn.svg") no-repeat center center;
}

.series-news-slide .sn-next-bt {
  top: 42%;
  right: -4px;
  transform: translate(50%, -50%);
  background: url("../images/right_btn.svg") no-repeat center center;
}

.series-news-slide .swiper-button-disabled {
  display: none;
}

.sn-series-news {
}
.series-link {
}
.series-link > img {
  /* height: 364px; */
  width: 100%;
}

@media screen and (max-width: 1240px) {
  .series-news .inner {
    width: 100%;
    padding: 60px 6%;
    height: auto;
    padding: 0px 6.7%;
  }
}

@media screen and (max-width: 1024px) {
  .series-news .series-news-slide {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .series-news .inner {
    width: 100%;
    padding: 0px 4.8%;
  }

  /* .sn-bt-ban {
    position: absolute;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.23);
    cursor: pointer;
    z-index: 99;
    bottom: -82px;
    right: 64px;
  } */

  .series-news .swiper-scrollbar {
  }
  .series-news-slide .sn-bt {
    width: 50px;
    height: 50px;
  }
  .series-news-slide .sn-prev-bt {
  }
  .series-news-slide .sn-next-bt {
  }
}

@media screen and (max-width: 500px) {
  .series-news .inner {
    /* padding: 0px 24px 55px; */
  }
  .series-news .inner h2 {
    padding-top: 94px;
  }
  .series-news .inner p {
    font-size: 21px;
    text-align: center;
    margin: 0px 69px;
    padding: 29px 0px 40px;
  }
}
