@charset "utf-8";

/* 뉴스룸 구독 */
.subscribe {
}
.subscribe .inner {
  height: 228px;
  background: rgb(207, 239, 252);
  border-radius: 6px;
}
.subscribe .letter {
  width: 101px;
  height: 95px;
}
.subscribe > info {
  display: inline-block;
}
